<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>DevOnline FolderSearch</Name>
    <Version>8.5</Version>
    <Title>DevOnline FolderSearch</Title>
    <Publisher>DevOnline</Publisher>
    <StartMenuDir>foldersearch</StartMenuDir>
    <TargetDir>@HomeDir@/DevOnline/foldersearch</TargetDir>
</Installer>
