<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>DevOnline foldersearch</Name>
    <Version>1.0.0</Version>
    <Title>DevOnline foldersearch</Title>
    <Publisher>DevOnline</Publisher>
    <StartMenuDir>foldersearch</StartMenuDir>
    <TargetDir>@HomeDir@/DevOnline/foldersearch</TargetDir>
</Installer>
